name: Build

on: [push, pull_request]

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: check
      uses: actions/checkout@v1
    - name: valgrind-install
      run: sudo apt-get update --fix-missing; sudo apt-get install -y valgrind
    - name: build
      run: mkdir -p build && cd build && export CFLAGS="-coverage";cmake .. && make && make test
    - name: codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        name: codecov
        yml: ./codecov.yml 
  release:
    runs-on: ubuntu-latest
    steps:
    - name: check
      uses: actions/checkout@v1
    - name: valgrind-install
      run: sudo apt-get update --fix-missing; sudo apt-get install -y valgrind
    - name: build
      run: mkdir -p build && cd build && cmake -DCMAKE_BUILD_TYPE=release -DENABLE_TESTS=ON -DENABLE_VALGRIND_TESTS=ON .. && make && make test

